.footer {
  background-color: var(--color-primary);
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footerCopy {
  margin-top: 1rem;
  font-size: 0.875rem;
  color: var(--color-bg);
}
