.header {
  background-color: var(--color-primary);
  color: var(--color-bg);
  display: block;
  text-align: left;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.link {
  color: var(--color-bg);
}

.link:hover {
  color: var(--color-bg);
}
