.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid var(--color-primary);
}
.cardImage {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.cardTitle {
  font-size: 1.25rem;
  margin: 0.5rem 1rem;
  height: 10vh;
}

.cardFooter {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.85rem;
  padding: 0.5rem 1rem 1rem 1rem;
}

.cardMeta {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cardStats {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.cardTopic {
  background-color: var(--color-secondary);
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 0.75rem;
}

a{
  color: var(--color-text);
}

a:hover {
  color: var(--color-muted);
}