.voteWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.voteControls button {
  background: none;
  border: none;
  font-size: 1.4rem;
  padding: 0.5rem;
  color: var(--color-primary);
  cursor: pointer;
}

.voteError {
  color: var(--color-accent);
}
